.section {
  background-color: #fff;
  text-align: center;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 1.2rem;
  display: block;
  color: #000;
  position: relative;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;
  top: 2rem;
  transform: translateX(-21.5rem);
  width: fit-content;
}

.title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: #f67828;
}

.highlight {
  color: #f67828;
  margin-left: 0.5rem;
}

.description {
  max-width: 800px;
  margin: 0 auto 2rem auto;
  font-size: 1rem;
  color: #444;
  margin-top: 4rem;
  margin-left: 42rem;
}

.cardsContainer {
  display: flex;
  gap: 4rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 6rem;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 320px;
  padding: 2rem;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 2rem;
  color: #f67828;
  margin-bottom: 1rem;
}

.card h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #111;
}

.card p {
  font-size: 0.95rem;
  color: #333;
  line-height: 1.5;
}