.section {
  padding: 4rem 1.5rem;
  background-color: #fff;
}

.subtitle {
  position: relative;
  padding-left: calc(1.5rem + 12px);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #000;
  max-width: 1200px;
  margin: 0 auto 2rem auto;
}

.subtitle::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  left: 23px;
  background-color: #f67828;
}

.highlight {
  color: #f67828;
}

.content {
  display: flex;
  gap: 7.5rem;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease, transform 1s ease;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.item {
  text-align: center;
}

.image {
  box-shadow: 0 10px 10px rgba(0,0,0,0.15);
}

.itemTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #000;
}

.itemDescription {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.95rem;
  color: #555;
  margin: 0.5rem 0 1rem;
}

.button {
  background-color: #f67828;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.button:hover {
  background-color: #e7661c;
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;
  }

  .itemDescription {
    font-size: 0.9rem;
  }

  .button {
    width: 100%;
    justify-content: center;
  }
}
